body {
  text-align: center;
  font-family: Arial;
}

input {
  width: 200px;
  height: 40px;
  font-size: 20px;
  text-align: right;
}

button {
  width: 45px;
  height: 40px;
  margin: 3px;
  font-size: 16px;
}
